.wrapper {
  width: 100vw;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content {
  display: flex;
  position: relative;
  top: 23%;
  left: 80px;
  z-index: 1;
}

.text {
  margin-left: 23px;
}

.heading {
  width: 624px;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  margin: 0 0 64px;
}