@import 'styles/mixins.scss';

.wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 76vw;
  background: var(--bg-game);
  padding: 133px 80px 122px;
  
  @include devices(mobile) {
    width: 100vw;
    padding: 136px 0px 24px;
  }
}

.question {
  font-weight: 600;
  font-size: 32px;
  width: 624px;
  margin: 0;
  color: var(--black);
  
  @include devices(mobile) {
    font-size: 18px;
    line-height: 18px;
    width: calc(100% - 16px);
    text-align: center;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  
  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
    gap: 8px 0;
  }
}

.optionWrapper {
  display: flex;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  background-image: url('/assets/images/option.png');
  height: 72px;
  width: 389px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  background-color: unset;

  &:hover {
    filter: brightness(0.8);
  }

  &:active, &:focus {
    filter: invert(44%) sepia(84%) saturate(5274%) hue-rotate(342deg) brightness(90%) contrast(117%);
    transition: none;
    outline: none;
  }

  &:active.isCorrect, &:focus.isCorrect {
    filter: invert(56%) sepia(31%) saturate(3235%) hue-rotate(74deg) brightness(121%) contrast(121%);
  }

  @media(max-width: 1300px) {
    width: 26vw;
    background-size: 100% 100%;
  }  

  @include devices(mobile) {
    width: 288px;
    height: 56px;
  }

  @include devices(smallMobile) {
    width: 75vw;
  }

  h4 {
    margin: 0 8px 0 32px;
    color: var(--orange);
    font-weight: 600;
  }

  span {
    color: var(--black);
  }
}

.optionConnector {
  width: 17px;
  border-bottom: 1px solid var(--grey);

  @include devices(mobile) {
    width: calc((100vw - 288px) / 2);
  }

  @include devices(smallMobile) {
    width: 12.5vw;
  }
}

.progressBar {
  display: flex;
  align-items: center;
  width: 24vw;
  transition: all 0.3s;
  
  @include devices(mobile) {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-game);
    position: absolute;
    right: 0;
    transform: translateX(100%);
    overflow: hidden;

    &.isMobileMenuOpened {
      transform: translateX(0%);
    }
  }
}

.progressBarInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.stepWrapper {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 20px;
  transition: all 0.3s;

  &.passed {
    background-image: url('/assets/images/progress-step.png');
    color: var(--grey);
  }

  &.upcoming {
    background-image: url('/assets/images/progress-step.png');
    color: var(--black);
  }

  &.current {
    background-image: url('/assets/images/progress-step-current.png');
    color: var(--orange);
  }

  @media(max-width: 1300px) {
    width: 75%;
    background-size: 100% 100%;
  }

  @include devices(mobile) {
    width: 240px;
    height: 32px;
  }

  @include devices(smallMobile) {
    width: 60vw;
  }

  span {
    font-size: 20px;
    line-height: 20px;
  }
}

.progressStepConnector {
  width: calc((100% - 240px) / 2);

  &.passed, &.upcoming {
    border-bottom: 1px solid var(--grey);
  }

  &.current {
    border-bottom: 1px solid var(--orange);
  }

  @media(max-width: 1300px) {
    width: 12.5%;
  }

  @include devices(mobile) {
    width: calc((100vw - 240px) / 2);
  }

  @include devices(smallMobile) {
    width: 20vw;
  }
}